<h1>Seja Bem-vindo!</h1>
<p>O idioma usado nessa aplicação é: <strong><%= t('current_locale') %></strong></p>
<p><strong>Data: </strong><%= I18n.l(Date.today) %> </p>
<p><%= I18n.t('hello')%></p>

<%= render "menu"%>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
    Eu sou uma variável de instância/sessão <%= @nome %>
</p>